/*simulador */
#simulador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125vh;
    background: radial-gradient(57.36% 57.36% at 50% 42.64%, #151515 0%, #0C0C0C 100%);
    box-shadow: 307px 320px 177px rgba(0, 0, 0, 0.01), 173px 180px 150px rgba(0, 0, 0, 0.05),
        77px 80px 111px rgba(0, 0, 0, 0.09), 19px 20px 61px rgba(0, 0, 0, 0.1),
        0px 0px 0px rgba(0, 0, 0, 0.1);
    gap: 10vh;
    padding: 17vh;
}

#simulador div {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
}

.simulador-inputs {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.simulador-span {
    color: #FCF6C1;
}

.simulador-inputs input {
    padding: 10px;
    width: 397px;
    border-radius: 22px;
    border: 2px #361B08 solid;
    font-size: 15px;
    font-family: 'Mulish';
}

.simulador-inputs input:focus {
    outline: none;
}

.simulador-inputs input:hover {
    border-radius: 15px;
    transition: 0.5s;
}

.btn-simulador {
    color: #361B08;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    width: 200px;
    border-radius: 32px;
    border: none;
    background-color: #FDFF87;
    font-size: 15px;

}

/*anna testes*/
.simulador-span-hectares {
    width: 279px;
    height: 20px;
    left: 95px;
    top: 247px;
}

.bnt-qnthectares {
    display: flex;
    box-sizing: border-box;
    /*position: absolute;*/
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    width: 155px;
    height: 20px;
    left: 382px;
    top: 243px;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
}

.resultado{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.introducaozinha{
   

width: 100%;
display: flex;
align-items: flex-end;
flex-direction: column;
gap: 8vh;
font-size: 17px;
text-align: justify;

/*padding: 8vh 0 3vh 0;
width: 675px;
height: 125px;
left: 725px;
top: 167px;
margin-right: 15px;
*/

}



/*fim do anna palpites*/

.btn-simulador:hover {
    background-color: #f9faab;
    border-radius: 14px;
    transition: 0.7s;
}


/*fim do simulador*/