* {
    box-sizing: border-box;
}

body {
    color: #FFF;
    width: 100%;
    height: 41.7rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/background-cadastro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}




header {
    display: block;
    flex-direction: row;
    padding: 5px 0;
    justify-content: flex-start;
    background-color: #EFC253;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap:5rem;
    margin-left: 50px; 
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
    margin-right:80px ;
}

.nav-list a:hover {
    color:maroon;
}

.logotipo{
    max-width: 100px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
    padding: 1rem;
    margin-top: 2rem;
    transform: translateY(0px);
    animation: flutuar 5s ease-in-out infinite;
    z-index:-1;
}


@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0px);
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    border-radius: 25px;
    gap: 4vh;
    padding: 8vh;
}

h2 {
    position: relative;
    font-size: 23px;
    text-shadow: 2px 2px #000;
    font-weight: bolder;
    padding: 10px;
    z-index: 2;
}

h2::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 15px;
    background-color: rgb(255, 210, 50);
    border-radius: 5px;
    bottom: 3px;
    left: 0;
    z-index: -1;
}

.input {
    color: #FFF;
    background-color: rgb(17, 17, 17);
    border: none;
    border-bottom: 1px solid Rgba(247, 221, 77, 0.863);
    padding: 2px;
    margin-bottom: 5px;
}

.input:focus {
    outline: none;
    border-bottom: 1px #ffffff solid;
    transition: 0.5s;
}

.input:hover {
    outline: none;
    border-bottom: 1px #ffffff solid;
    transition: 0.3s;
}

.input::placeholder {
    color: #FFF;
}

.btn-cadastro {
    color: #000;
    background-color: rgb(255, 210, 50);
    box-shadow: 2px 1px 8px rgb(255, 210, 50);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 8px;
}

.btn-cadastro:hover {
    background-color: rgb(255, 210, 86);
    box-shadow: 2px 1px 8px rgb(255, 210, 86);
    transition: ease-in-out 0.5s;
}


/* COMEÇO FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 2%;
    /* color: white; */
}

footer span {
    text-align: center;
}

footer ul {
    list-style: none;
    color: var(--txColor);
}

footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.socialLinks i, .contact i {
    margin-right: 5px;
    color: white;
} 

.social .traco{
    width: 30%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px; 
    background-color: var(--primary);
}

.social img{
    width: 60px;
    height: 50px;

}


footer span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--txColor);
}

footer a {
    color: var(--txColor);
    text-decoration: none;
}

.fim{
    background-color:chocolate;
    width: 100%;
    height: 40px;
}

.footer{
background-color:#EFC253;
    text-align: center;
    height: 90px;
    }
    
    .footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    }

.copy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #111;
    font-weight: 200;
    position: absolute;
    left: 60px;
    top: 990px;
}
.redes{
    float: right;
    width:85px;
    margin-top: 3px;
    margin-right: 7px;
    border-radius: 80%;
    width: 12%;

    
}


.texto{
    color: black;
    text-align: center;
}

/* FIM FOOTER */